<div class="auth-wrapper">
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Request Password Reset</h4>

						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-mail"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Enter your email" [(ngModel)]="email">
						</div>

						<button (click)="requestPasswordReset()" class="btn btn-primary mb-4">Request Reset</button>
						<p *ngIf="requestSuccessMessage" class="mb-2 text-muted">{{ requestSuccessMessage }}</p>
						<p *ngIf="requestErrorMessage" class="mb-2 text-muted">{{ requestErrorMessage }}</p>
					</div>

					<div class="card-body">
						<h4 class="mb-3 f-w-400">Validate Reset Code</h4>

						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-code"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Enter the code" [(ngModel)]="code">
						</div>

						<button (click)="validateResetToken()" class="btn btn-primary mb-4">Validate Code</button>
						<p *ngIf="validationSuccessMessage" class="mb-2 text-muted">{{ validationSuccessMessage }}</p>
						<p *ngIf="validationErrorMessage" class="mb-2 text-muted">{{ validationErrorMessage }}</p>
					</div>

					<div class="card-body" *ngIf="tokenValidated">
						<h4 class="mb-3 f-w-400">Reset Password</h4>

						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-lock"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="Enter new password" [(ngModel)]="newPassword">
						</div>

						<button (click)="resetPassword()" class="btn btn-primary mb-4" routerLink="/login" >Reset Password</button>
						<p *ngIf="resetSuccessMessage" class="mb-2 text-muted">{{ resetSuccessMessage }}</p>
						<p *ngIf="resetErrorMessage" class="mb-2 text-muted">{{ resetErrorMessage }}</p>
					</div>
				</div>
        <div class="col-md-6 d-none d-md-block">
					<img src="../assets/images/auth-bg.jpg" alt="" class="img-fluid">
				</div>
        <div class="card-body">
         <p class="mb-0 text-muted">Already have an account? <a routerLink="/login" class="f-w-400">Login</a></p>
        </div>
			</div>
		</div>
	</div>
</div>
