<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Micro finance Bank<span>.</span></h1>
          <h2>Pour les particulier et les entreprises</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <i routerLink="/front/body" class="fas fa-home"></i>
              <h3><a  routerLink="/front/body">Home</a></h3>
          </div>
        </div>
        
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <i routerLink="/front/simulateur" class="fas fa-coins"></i>
              <h3><a routerLink="/front/simulateur" >Simulator</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <i  routerLink="/front/profilsolva" class="fas fa-poll"></i>
              <h3><a  routerLink="/front/profilsolva" >survey </a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <i  routerLink="/front/profilsolva" class="fas fa-university"></i>
              <h3><a>Credit</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <i class="fas fa-chart-line"></i>
              <h3><a href="">Investisement</a></h3>
          </div>
        </div>
      </div>
      
    </div>
    
  </section><!-- End Hero -->
