<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
  <h1>Payments</h1>
  <table class="table table-borderless" *ngIf="payments.length > 0">
    <thead>
      <tr>
        <th>Payment Number</th>
        <th>Payment Date</th>
        <th>Balance</th>
        <th>Principal Paid</th>
        <th>Interest Paid</th>
        <th>Accumulated Interest</th>
        <!-- Add more headers if needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.paymentNumber }}</td>
        <td>{{ payment.paymentDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ payment.balance }}</td>
        <td>{{ payment.principalPaid }}</td>
        <td>{{ payment.interestPaid }}</td>
        <td>{{ payment.accumulatedInterest }}</td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>
</div>
