
<header id="header" class="fixed-top" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">trade-in<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><images src="/src/assets/images/logo.png" alt="" class="images-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/front/body">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/front/produits">Product</a></li>
          <li><a class="nav-link scrollto" routerLink="/front/body">Reclamation</a></li>
          <li><a class="nav-link scrollto" routerLink="/front/body" >partner</a></li>
          <li><a class="nav-link scrollto" routerLink="/front/interfaceclient">Client Interface</a></li>
          <li><a class="nav-link scrollto"routerLink="/front/wallet">Account</a></li>
<!--
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a *ngIf="isLoggedIn(); else notLoggedIn" routerLink="/logout"  (click)="logout()" class="get-started-btn scrollto">Logout</a>
      <ng-template #notLoggedIn>
        <a routerLink="/login" class="get-started-btn scrollto">Get Started</a>
      </ng-template>

    </div>
  </header><!-- End Header -->
