/* Hover effect for rows */
tr:hover {
  background-color: #555; /* Changes background on hover */
  transition: background-color 0.3s ease; /* Add smooth transition */
}

/* Styling for buttons within the table */
.custom-button {
  background-color: #ffc451;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #e0a800; /* Darker shade of gold on hover */
}

  .custom-table {
    width: 2100px;  /* uniform size with .card */

    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


  }

  .custom-table th,
  .custom-table td {
    padding: 20px; /* Increase padding for larger hover effect */
    border-bottom: 1px solid #ddd;
  }

  .custom-table th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:hover {
    background-color: #f2f2f2; /* Change hover background color */
  }

.cardmoh {
  width: 1250px;
  height: 100px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}

.cardmoh-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.cardmoh-avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}


/*cardmoh footer*/
.cardmoh-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
}

.cardmoh-social__item {
  list-style: none;
}

.cardmoh-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
}

/*Text*/
.cardmoh-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.cardmoh-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.cardmoh:hover {
  box-shadow: 0 8px 50px #23232333;
}

.cardmoh:hover .cardmoh-info {
  transform: translateY(-5%);
}

.cardmoh:hover .cardmoh-social {
  transform: translateY(100%);
  opacity: 1;
}

.cardmoh-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.cardmoh-avatar:hover {
  transform: scale(1.1);
}